@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-underline {
    @apply relative
            after:content-['']
            after:absolute
            after:left-0
            after:-bottom-1
            after:w-0
            after:h-[2px]
            after:bg-current
            after:transition-all
            after:duration-300
            hover:after:w-full;
    }
    .nav-link {
        @apply text-blue-300 font-semibold relative transition-colors;
    }

    .nav-link:hover {
        @apply text-white;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 2px;
        width: 0;
        background: #fa0101;
        transition: width 0.3s ease;
    }

    .nav-link:hover::after {
        width: 100%;
    }

  
}
